# Python Task for Extracting tweets from midasIIITD handle

In [1]:
# Initialising the tools required for the notebook
import requests
import bs4
from bs4 import BeautifulSoup
from requests_oauthlib import OAuth1
import pandas as pd

In [2]:
# Reading the twitter keys from the config file
import json
with open("config.json","r") as file:
    auth_params = json.load(file)

In [3]:
# initialising twitter authentication handler and accessing the API
from tweepy import OAuthHandler, API
auth1 = OAuthHandler(auth_params['app_key'], auth_params['app_secret'])
auth1.set_access_token(auth_params['oauth_token'], auth_params['oauth_token_secret'])
auth_api = API(auth1)

In [4]:
# Printing Basic Information about the midasIIITD account
account_list = ['midasIIITD']

for target in account_list:
    print("Getting data for " + target)
    item = auth_api.get_user(target)
    print("Name: " + item.name)
    print("Screen Name: " + item.screen_name)
    print("Description: " + item.description)
    print("Statuses Count: " + str(item.statuses_count))
    print("Friends Count: " + str(item.friends_count))
    print("Followers Count: " + str(item.followers_count))

Getting data for midasIIITD
Name: MIDAS IIITD
Screen Name: midasIIITD
Description: MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.
Statuses Count: 342
Friends Count: 43
Followers Count: 289

In [5]:
# Extracting details from the account and statistics about it.
from datetime import datetime, date, time, timedelta
tweets = item.statuses_count
account_created_date = item.created_at
delta = datetime.utcnow() - account_created_date
account_age_days = delta.days
print("Account age (in days): " + str(account_age_days))
if account_age_days > 0:
    print("Average tweets per day: " + "%.2f"%(float(tweets)/float(account_age_days)))

Account age (in days): 260
Average tweets per day: 1.32

In [6]:
# Getting the information about the tweets, hashtags and mentions
from tweepy import Cursor
hashtags = []
mentions = []
tweet_count = 0
all_tweets = list()

# Determining the period for getting the tweet information
end_date = datetime.utcnow() - timedelta(days=265)
for status in Cursor(auth_api.user_timeline, id=target).items():
    tweet_count += 1
    # Getting the hashtags used in the tweets
    if hasattr(status, "entities"):
        entities = status.entities
        if "hashtags" in entities:
            for ent in entities["hashtags"]:
                if ent is not None:
                    if "text" in ent:
                        hashtag = ent["text"]
                        if hashtag is not None:
                              hashtags.append(hashtag)
        # Getting name of the users tagged in the tweets
        if "user_mentions" in entities:
            for ent in entities["user_mentions"]:
                if ent is not None:
                    if "screen_name" in ent:
                        name = ent["screen_name"]
                        if name is not None:
                              mentions.append(name)
    # Favorites/Likes of the tweet
    fav=0
    try:
        fav=status.retweeted_status.favorite_count
    except:
        fav=status.favorite_count
    # Number of Images in the tweet
    num=0
    try:
        num=len(status.entities['media'])
    except:
        num=None
    tweet_Data=dict(text=status.text,created_at=str(status.created_at),retweet_count=status.retweet_count,favorite_count=fav,num_images=num)
    all_tweets.append(tweet_Data)
    if status.created_at < end_date:
        break

In [7]:
# Dumping the data in JsonLines file
with open('midas_tweets_data.jsonl','w') as f:
    for data_point in all_tweets:
        json.dump(data_point,f)
        f.write("\n")

In [8]:
from collections import Counter
import sys
print("Most mentioned Twitter users:")
for item, count in Counter(mentions).most_common(10):
    print(item + "\t" + str(count))
print("Most used hashtags:")
for item, count in Counter(hashtags).most_common(10):
    print(item + "\t" + str(count))
print("All done. Processed " + str(tweet_count) + " tweets.")

Most mentioned Twitter users:
midasIIITD	82
RatnRajiv	43
IIITDelhi	38
kdnuggets	31
ACMMM19	29
the_dhumketu	24
debanjanbhucs	22
mr2amc	19
RealAAAI	13
IEEEBigMM19	11
Most used hashtags:
KDN	8
DeepLearning	6
AI	5
MachineLearning	5
NLP	3
Free	2
Books	2
DataScience	2
nlp	2
datascience	2
All done. Processed 342 tweets.

In [9]:
# Extracting data from jsonlines file
with open('midas_tweets_data.jsonl','r') as f:
    df=pd.read_json(f, lines=True)

In [10]:
df

,created_at,favorite_count,num_images,retweet_count,text
0,2019-04-09 16:45:07,41,NaN,9,RT @IIITDelhi: We are delighted to share that ...
1,2019-04-09 05:04:27,95,NaN,35,RT @Harvard: Professor Jelani Nelson founded A...
2,2019-04-09 05:04:11,37,NaN,15,RT @emnlp2019: For anyone interested in submit...
3,2019-04-08 19:38:09,20,NaN,15,RT @multimediaeval: Announcing the 2019 MediaE...
4,2019-04-08 07:08:12,17,NaN,2,"Many Congratulations to @midasIIITD student, S..."
5,2019-04-08 03:27:42,5,NaN,0,@midasIIITD thanks all students who have appea...
6,2019-04-07 14:17:29,0,NaN,0,"@himanchalchandr Meanwhile, complete CV/NLP ta..."
7,2019-04-07 14:17:09,0,NaN,0,@sayangdipto123 Submit as per the guideline ag...
8,2019-04-07 11:43:24,1,NaN,1,We request all students whose interview are sc...
9,2019-04-07 06:55:19,5,NaN,2,"Other queries: ""none of the Tweeter Apis give ..."
10,2019-04-07 06:53:38,4,NaN,1,"Other queries: ""do we have to make two differe..."
11,2019-04-07 05:32:27,6,NaN,1,"Other queries: ""If using Twitter api, it does ..."
12,2019-04-07 05:29:40,7,NaN,1,Response to some queries asked by students on ...
13,2019-04-06 17:11:29,21,NaN,2,RT @kdnuggets: Top 8 #Free Must-Read #Books on...
14,2019-04-06 16:43:27,18,NaN,3,@nupur_baghel @PennDATS Congratulation @nupur_...
15,2019-04-05 16:08:37,11,NaN,1,We have emailed the task details to all candid...
16,2019-04-05 04:05:11,49,NaN,16,RT @rfpvjr: Our NAACL paper on polarization in...
17,2019-04-05 04:04:43,21,1.0,11,RT @kdnuggets: Effective Transfer Learning For...
18,2019-04-03 18:31:53,224,NaN,59,RT @stanfordnlp: What’s new in @Stanford CS224...
19,2019-04-03 17:04:32,2419,NaN,872,RT @DeepMindAI: Today we're releasing a large-...
20,2019-04-03 09:03:40,151,NaN,16,RT @ylecun: Congratulations Jitendra Malik !\n...
21,2019-04-03 07:46:02,4,NaN,4,RT @IIITDelhi: Another chance to take admissio...
22,2019-04-02 04:20:13,8,NaN,1,Dear @midasIIITD internship candidates who hav...
23,2019-04-02 02:44:54,5,NaN,1,Looking forward to your paper submission to @I...
24,2019-04-02 02:35:44,9,NaN,7,RT @ngrams: Reproducibility in multimedia rese...
25,2019-04-01 06:53:08,7,NaN,2,Online application for https://t.co/DJFDrQsHZP...
26,2019-03-31 10:21:24,12,NaN,10,RT @ACMMM19: A final reminder of the Reproduci...
27,2019-03-29 19:43:24,7,NaN,2,RT @isarth23: Thanks for the support and help ...
28,2019-03-29 17:16:40,9,NaN,1,"Since SemEval-2019 will be held June 6-7, 2019..."
29,2019-03-29 17:04:30,2,NaN,0,+@aggarwal_kartik.\nCongrats! Wish you many mo...
...,...,...,...,...,...
312,2018-08-09 05:59:57,567,NaN,265,RT @TensorFlow: TensorFlow 1.10.0 has been rel...
313,2018-08-08 11:30:56,2,NaN,1,@midasIIITD is looking for motivated IIITD MTe...
314,2018-08-08 05:53:48,3,1.0,1,@IIITDelhi @ponguru @RatnRajiv The results of ...
315,2018-08-08 05:45:58,6,NaN,1,RT @IIITDelhi: @midasIIITD has secured rank 1 ...
316,2018-08-07 07:16:33,88,1.0,40,RT @kdnuggets: Comparison of Top 6 Python NLP ...
317,2018-08-07 02:05:12,1,NaN,1,Check more details of the 20th IEEE Internatio...
318,2018-08-07 01:58:49,1,NaN,1,MR2AMC@ISM 2018 will be organized by @RatnRaji...
319,2018-08-07 01:50:33,1,NaN,1,"Our workshop proposal named, ""MR2AMC: Multimod..."
320,2018-08-06 17:48:23,0,NaN,0,@NUSComputing Congratulations Abdelhak and Pro...
321,2018-08-06 17:46:59,424,1.0,103,RT @goodfellow_ian: One of the most anticipate...
322,2018-08-06 06:06:47,0,NaN,0,@the_dhumketu Great to have you in @midasIIITD
323,2018-08-03 05:56:33,6,NaN,1,Congratulation @soujanyaporia for being appoin...
324,2018-08-01 11:47:15,5,1.0,1,@IIITDelhi @the_dhumketu Thanks team @midasIII...
325,2018-08-01 11:20:07,7,NaN,4,RT @IIITDelhi: Congratulations @midasIIITD int...
326,2018-08-01 05:06:47,4,NaN,4,RT @learning_pt: Profile of the 5 Indian under...
327,2018-07-31 12:11:52,1,NaN,0,Have a look at the list of accepted papers in ...
328,2018-07-31 02:06:26,756,NaN,264,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...
329,2018-07-30 07:30:51,14,NaN,2,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...
330,2018-07-28 11:07:11,218,NaN,57,"RT @ylecun: Jitendra Malik, who directs FAIR-M..."
331,2018-07-28 06:14:09,225,NaN,105,RT @kdnuggets: .@Bloomberg launches free cours...
332,2018-07-28 06:13:48,7,NaN,7,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...
333,2018-07-28 04:08:21,36,NaN,6,RT @IIITDelhi: We are delighted to announce th...
334,2018-07-27 06:46:44,3,NaN,2,Get ready for the annual technical fest of @II...
335,2018-07-27 04:07:31,8,NaN,2,Congratulations Dr. @RatnRajiv and team @midas...
336,2018-07-25 05:14:35,5,NaN,1,Congratulations MIDAS @midasIIITD intern Prakh...
337,2018-07-24 10:33:23,2,NaN,1,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
338,2018-07-24 10:12:34,2,NaN,1,It feels great to be the part of @IIITDelhi. h...
339,2018-07-24 09:46:26,4,1.0,1,"Thank you, @toonzratn for designing the logo o..."
340,2018-07-23 16:25:05,3,NaN,1,We are on Facebook too. Like our page to get o...
341,2018-07-23 12:53:15,7,NaN,4,MIDAS is a group of researchers at IIIT-Delhi ...